*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
h1,
h3,
p {
    margin: 0;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 1px solid black;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.25s;
    width: 100%;
    white-space: nowrap;
}
button:hover {
    background-color: black;
    color: white;
}
button:active {
    opacity: 0.8;
}
button:focus {
    outline: 2px solid black;
}
.container {
    padding: 0 1rem;
    margin: 0 auto;
}
.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}
.mainContentOuter {
    padding: 1rem 0 3rem;
}
.fileInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    flex-shrink: 0;
}
.fileInputLabel {
    font-size: .875rem;
}
.fileTextField {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}
.fileTextWrapper {
    width: 100%;
    overflow: auto;
    height: 25rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
}
.encryptedTextWrapper {
    width: 100%;
    overflow-x: auto;
    height: 25rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
}
.encryptedTextWrapper #encryptedText {
    font-size: 1rem;
    word-break: break-all;
}
.encryptButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    gap: 1.5rem
}
.secretKeyWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.secretKeyLabel {
    font-size: .875rem;
    white-space: nowrap;
}
.secretKeyInput {
    padding: .5rem;
    border-radius: 0.25rem;
    border: 1px solid black;
    font-size: .875rem;
    width: 100%;
}

@media (min-width: 1024px) {
    .container {
        padding: 0 2rem;
    }
    .encryptButtonWrapper {
        flex-direction: row;
        width: fit-content;
    }
    button {
        width: fit-content;
    }
    .secretKeyInput {
        width: fit-content;
    }
}